<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dtran.plentyofdog" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/smalldoge"
        android:label="@string/app_name"
        android:theme="@style/DogTheme" >
        <activity
            android:name="com.example.dtran.plentyofdog.WelcomeScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.ProfileBuild"
            android:label="@string/title_activity_profile_build" >
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.DogFilter"
            android:label="@string/title_activity_dog_filter" >
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.Splash"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.DogSelection"
            android:label="@string/title_activity_dog_selection" >
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.home_screen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.dog_builder"
            android:label="@string/title_activity_dog_builder" >
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.logOn_signUp"
            android:label="@string/title_activity_log_on_sign_up" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.ImageUploader"
            android:label="@string/title_activity_image_uploader" >
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.MyDogs"
            android:label="@string/title_activity_my_dogs" >
        </activity>
        <activity
            android:name="com.example.dtran.plentyofdog.ProfileChange"
            android:label="@string/title_activity_profile_change" >
        </activity>
    </application>

</manifest>
